.body  h2{
	margin: 0 0 10px 0;
	padding: 20px 10px;
	border-bottom:solid 1px #ddd;
	font-weight:normal;
}
.body  h2 > #content{
	font-size:18px;
	color:#2673bf;
}
fieldset.cbi-section{
	border:solid 1px #ddd;
	margin-bottom:10px;
}
fieldset.cbi-section > legend{
	margin: 0;
	font-size:16px;
	padding: 10px;
}
fieldset.cbi-section fieldset{
	border:0;
	padding:0;
	margin:0;
}
.cbi-tabmenu{
	margin:0;
	padding:0;
	border-bottom:solid 1px #ddd;
}
.cbi-tabmenu:before,.cbi-tabmenu:after{
	content:"";
	clear:both;
	display:table;
}
.cbi-tabmenu > li{
	float:left;
	display:inline;
	margin-bottom: -1px;
}
.cbi-tabmenu > li > a{
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	position: relative;
	display: block;
	padding: 10px 15px;
}
.cbi-tabmenu > .cbi-tab > a{
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}

.cbi-tabcontainer{
	border-bottom:solid 1px #ddd;
	border-left:solid 1px #ddd;
	border-right:solid 1px #ddd;
	padding:10px;
}
.cbi-value{
	margin-bottom:10px;
}
.cbi-value:before,.cbi-value:after{
	content:"";
	clear:both;
	display:table;
}
.cbi-value > .cbi-value-title{
	padding-top: 6px;
	width:180px;
	float:left;
	text-align:right;
}
.cbi-value > .cbi-value-field{
	margin-left: 200px;
}

.cbi-map-descr, .cbi-section-descr{
	padding:10px;
	color:#666;
	font-size:14px;
}

.cbi-input-text,.cbi-input-select,.cbi-input-password,.cbi-input-user, input[type='text'], input[type='password']{
	text-indent: 10px;
	border:solid 1px #ddd;
	padding: 6px 0;
	width:300px;
}
.cbi-value-description{
	font-size:12px;
	color:#999;
}
.cbi-page-actions, .cbi-section-create{
	margin-left: 200px;
	margin-bottom: 10px;
}
.cbi-tblsection-create{
	margin-left:0;
}
.cbi-section-table{
	width:100%;
	border-spacing: 0;
	border-collapse: collapse;
	margin-bottom: 10px;
}
.cbi-section-table tr.cbi-section-table-titles > th{
	vertical-align: bottom;
	border-bottom: 1px solid #ddd;
	padding: 8px;
}
.cbi-section-table tr > td{
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}
tr.cbi-section-table-descr > th{
	border:0;
}
td.cbi-value-field{
	text-align:center;
}
td.cbi-value-field .cbi-input-select, td.cbi-value-field .cbi-input-text{
	width:100px;
}
.cbi-button{
	color:#000;
	background-color:#f2f2f2;
	border:solid 1px #e5e5e5;
	margin-right: 10px;
	padding: 9px 20px 8px;
	border-radius: 2px;
	cursor:pointer;
}
.cbi-button-apply, .cbi-input-apply, .cbi-button-add{
	background-color:#2b82d9;
	border-color:#115ba6;
	color:#fff;
}
.cbi-button-save, .cbi-input-save{
	background-color:#5cb85c;
	border-color:#3e8f3e;
	color:#fff;
}
.cbi-button-remove, .cbi-input-remove, .cbi-input-reset{
	background-color:#d9534f;
	border-color:#b92c28;
	color:#fff;
}