body{
	font-family: "microsoft yahei";
	margin:0;
	padding:0;
	color:#fff;
}
input,button,select{
	font-family: "microsoft yahei";
	font-size:14px;
}
.container{
	margin: 0 auto;
	padding: 0 15px;
}
.header{
	background-color:#222;
	margin-bottom: 20px;
	padding: 100px 0;
}
.header h1{
	margin:0;
	padding:0;
	font-weight:normal;
}
.text-center{
	text-align:center;
}
.text-block{
	width:100%;
	padding: 10px 0;
	text-indent: 10px;
	font-family: "microsoft yahei";
	font-size:14px;
	border:solid 1px #999;
}
.btn-next{
	background-color:#428bca;
	border: solid 1px #2b669a;
	color:#fff;
	padding: 15px 0;
	text-align:center;
	display:block;
	width: 100%;
	text-decoration:none;
	font-size:14px;
}
p{
	color:#999;
}